.detail_props{
  background: rgba($color: #000000, $alpha: 0.5);
  .mask{
    width: 100%;
    height: 100%;
  }
  .center-val{
    width: 70%;
    height: 60%;
    padding: 100px 30px;
    background:rgba($color: #ffffff, $alpha: 1.0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;
    overflow: scroll;
    span{
      position: fixed;
      top: 0;
      right: 0;
      padding: 20px;
    }
    p:nth-of-type(1){
      margin-left: 30px;
      font-size: 40px;
      color: #212832;
      font-weight: bold;
    }
    p:nth-of-type(2){
      margin: 0 30px;
      margin-top: 60px;
      font-size: 35px;
      color: #5D646E;
      line-height: 60px;
    }
  }
}
