.find-item{
  width: 900px;
  height: 245px;
  // background: #eeeeee;
  display: flex;
  align-items: center;
  margin-bottom: 62px;
  margin-right: 60px;
  .img{
    width: 166px;
    height: 242px;
    background: #666666;
    overflow: hidden;
    position: relative;
    img{
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .value{
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    width: 740px;
    p:nth-of-type(1){
      width: 100%;
      font-size: 44px;
      color: #212831;
      line-height: normal;
      span{
        margin-right: 10px;
      }
      span:nth-of-type(2){
        display: inline-block;
        width: 60%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    p:nth-of-type(2){
      font-size: 35px;
      color: #848E94;
      text-indent: 1em;
      margin-top: 32px;
    }
  }
}