#find{
  .find-header{
    box-shadow:  0 0 20px 5px #eee;
  }
  .header-search, .find-search{
    width: 80%;
    height: 36px;
    background: #F7F3F7;
    color: #D6D7DE;
    display: flex;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-46%,0 );
    border-radius: 18px;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    opacity: 0;
    span{
      margin-right: 10px;
      color: #D6D7DE;
    }
    input{
      color: #D6D7DE;
      border: none;
      width: 80%;
      background: #F7F3F7;
    }
  }
  .find-search{
    position: static;
    opacity: 1;
    transform: none;
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    height: 110px;
    border-radius: 55px;
    span{
      margin-right: 10px;
      color: #D6D7DE;
    }
    input{
      color: #D6D7DE;
      border: none;
      width: 80%;
      background: #F7F3F7;
      padding: 0;
      margin: 0;
      height: auto;
      font-size: 38px;
    }
  }
  .scroll{
    position: absolute;
    width: 100%;
    top: 135px;
    bottom: 49px;
    
  }
  .find-wrap{
    width: 100%;
    .banner{
      width: 100%;
      height:333px ;
      overflow: hidden;
      margin-top: 20px;
      img{
        width: 100%;
      }
    }
  }
}