#books{
  .books-header{
    .edit-delete{
      position: absolute;
      right: 0;
      top: 0;
      font-size: 35px;
      padding: 47px 28px;
      em{
        color: #4FAEF1;
      }
    }
    .all-select{
      position: absolute;
      left: 0;
      top: 0;
      font-size: 35px;
      padding: 47px 28px;
    }
  }
  .search{
    margin: 0 50px;
    margin-top: 140px;
    height: 100px;
    background: #F2F3F5;
    border-radius: 50px;
    display: flex;
    align-items: center;
    span{
      margin: 0 40px;
    }
    input{
      border: none;
      background: #F2F3F5;
      padding: 0;
      margin: 0;
      height: auto;
    }
  }
  .books-scroll{
    position: absolute;
    width: 925px;
    margin: 0 76px;
    top: 260px;
    bottom: 0;
    .con{
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;
      .book_item{
        margin-right: 90px;
      }
      .book_item:nth-child(3n+3){
        margin-right: 0;
      }
      .icon-show{
        z-index: 1;
      }
    }
  }
  .go-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 100px;
    background: #FF5173;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    border-radius: 30px;
  }

}