.app-header{
  width: 100%;
  height: 120px;
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  .title{
    width: 100%;
    height: 120px;
    color: #313C42;
    text-align: center;
    line-height: 120px;
    font-size: 50px;
    font-weight: bold;
  }
  .back{
    position: absolute;
    top: 0;
    height: 120px;
    padding: 0 60px;
    line-height: 120px;
    font-size: 60px;
    color: #5A656B;
    font-weight: bold;
  }
}